# Copy this file to .env and fill in your values
MONGO_URI=
JWT_SECRET=
PORT=5001

# Cloudinary
CLOUD_NAME=
CLOUD_API=
API_SECRET=

# Secrets to protect higher privilege accounts
RECRUITER_SECRET=
ADMIN_SECRET=
